/* html */
html {
  background-color: #fff;
	font-family: 'Noto Sans KR', 'Roboto';
}

/* page */
.page {
	min-height: calc(100vh - 240px);
}

/* dialog */
.post-dialog .el-dialog {
	width: 90%;
	max-width: 400px;
}

.post-dialog .el-dialog__header {
	background-color: mediumpurple;
}

.post-dialog .el-dialog__title {
	color: #fff;
}

.post-dialog .el-dialog__headerbtn .el-dialog__close {
	color: #fff;
}

.sign-form .input-wrap {
	margin-bottom: 19px;
}

.sign-form .input-wrap:first-child {
	margin-bottom: 0;
}

.sign-form .valid-text-wrap {
	height: 19px;
}

.sign-form .valid-text-wrap p {
	font-size: 13px;
	line-height: 1.5;
	text-align: right;
	color: red;
}

.sign-form .input-wrap label {
	width: 60px;
	font-weight: 400;
	font-size: 14px;
	color: #333;
}

.sign-form .input-wrap input {
	width: 100%;
	padding: 10px 16px;
	margin-top: 7px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.sign-form .input-wrap input:focus {
	outline: 1px solid rgba(147, 112, 216, .5);
}

.sign-form .btn-wrap button {
	width: 100%;
	padding: 9px 16px;
	border-radius: 4px;
	font-family: 'Noto Sans KR', 'Roboto';
	font-weight: 500;
	font-size: 14px;
	color: #fff;
	background-color: rgba(147, 112, 216, 1);
	cursor: pointer;
	transition: background 0.1s ease;
}

.sign-form .btn-wrap button:hover {
	background-color: rgba(147, 112, 216, .8);
}