/* html */
.vue-note {
  background-color: #e9ecf1;
}

/* page */
.page {
	min-height: calc(100vh - 240px);
}

/* dialog */
.post-dialog .el-dialog {
	width: 90%;
	max-width: 400px;
}

.post-dialog .el-dialog__title {
	color: #fff;
}

.post-dialog .el-dialog__headerbtn .el-dialog__close {
	color: #fff;
}

/* form - sign */
.sign-title {
	font-weight: 700;
	font-size: 32px;
	color: mediumpurple;
	text-align: center;
}

.sign-form {
	padding: 30px 0 10px;
}

.sign-form .input-wrap {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.sign-form .valid-text-wrap {
	height: 30px;
}

.sign-form .valid-text-wrap p {
	line-height: 30px;
	text-align: right;
	color: red;
}

.sign-form .input-wrap label {
	width: 60px;
	font-weight: 500;
	font-size: 14px;
}

.sign-form .input-wrap input {
	width: 100%;
	height: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.sign-form .input-wrap input:focus {
	outline: none;
}

.sign-form .btn-wrap {
	display: flex;
	justify-content: flex-end;
}

.sign-form .btn-wrap button {
	padding: 6px 16px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	background-color: mediumpurple;
	cursor: pointer;
}