html {
  background-color: #fff;
	font-family: 'Noto Sans KR', 'Roboto';
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

/* page */
.page {
	min-height: calc(100vh - 24rem);
}

/* dialog */
.post-dialog .el-dialog {
	overflow: hidden;
	width: 90%;
	max-width: 60rem;
	border-radius: 2rem;
	background-color: transparent;
}


.post-dialog .el-dialog__header {
	background-color: mediumpurple;
}

.post-dialog .el-dialog .el-dialog__body {
	background-color: #fff
}

.post-dialog .el-dialog__title {
	font-size: 2.1rem;
	color: #fff;
}

.post-dialog .el-dialog__headerbtn .el-dialog__close {
	font-weight: 700;
	font-size: 2.4rem;
	color: #fff;
}

.sign-form .input-wrap {
	margin-bottom: 1.9rem;
}

.sign-form .input-wrap:first-child {
	margin-bottom: 0;
}

.sign-form .valid-text-wrap {
	height: 1.9rem;
}

.sign-form .valid-text-wrap p {
	font-size: 1.3rem;
	line-height: 1.5;
	text-align: right;
	color: red;
}

.sign-form .input-wrap label {
	width: 6rem;
	font-weight: 400;
	font-size: 1.4rem;
	color: #333;
}

.sign-form .input-wrap input {
	width: 100%;
	padding: 1rem 1.6rem;
	margin-top: .7rem;
	border: .1rem solid #ccc;
	border-radius: .4rem;
	box-sizing: border-box;
}

.sign-form .input-wrap input:focus {
	outline: .1rem solid rgba(147, 112, 216, .5);
}

.sign-form .btn-wrap button {
	width: 100%;
	padding: .9rem 1.6rem;
	border-radius: .4rem;
	font-family: 'Noto Sans KR', 'Roboto';
	font-weight: 500;
	font-size: 1.4rem;
	color: #fff;
	background-color: rgba(147, 112, 216, 1);
	cursor: pointer;
	transition: background 0.1s ease;
}

.sign-form .btn-wrap button:hover {
	background-color: rgba(147, 112, 216, .8);
}